body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
h1{font-size: 50px;
}
.blue-color{color: rgb(49, 145, 113);}

.flexble-container{
    display: flex;
    margin-bottom: 170px;
}
.half-width{width: 50%;
padding-left: 10px;

}


.half-width img{width: 80%;}
.link-button{
    text-decoration: none;
    background-image:-o-linear-gradient(orange tomato);
    background-color:  blueviolet;
    padding: 10px 40p;
    border-radius: 10px;
}
.top-bannar{
   background-image:url(image/top-banner.png);
   background-repeat:no-repeat;

}
.New-experiance{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
 background-position: right;
}
.tomato-color{color: red;}
.baby-text{
    width: 40%;
    margin-left: 6%;
    margin-right: 6%;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 10px 10px 40px chocolate;
}
#full-stake-developer{
    border-left: 7px solid orangered;
}
#Baby-web-developer{
    border-left: 7px solid blue;
}

